{
  "extends": "airbnb-base",
  "rules": {
    "space-before-function-paren": "off",
    "func-names": "off",
    "arrow-parens": ["error", "as-needed"],
    "no-use-before-define": "off",
    "semi": "off",
    "max-len": "off",
    "operator-linebreak": "off"
  }
}
